/dashboard/
/img/
/index.php
/favicon.ico
/desktop.ini
/xampp/
/applications.html
/bitnami.css
vendor/
node_modules/

*.mp4
Video/

webalizer/
/composer.json
/composer.lock
/project_store

ecommerce/server/storage/framework/
ecommerce/server/storage/logs/
ecommerce/server/bootstrap/cashe/

ecommerce/server/public/*
!ecommerce/server/public/.htaccess
!ecommerce/server/public/favicon.ico
!ecommerce/server/public/index.php
!ecommerce/server/public/robot.txt




