.slick-prev:before {
    content: "\ea8b";
}

.slick-prev:before {
    content: "\ea8b";
}

.slick-next:before {
    content: "\ea8c";
}

.slick-next:before, .slick-prev:before {
    font-family: annimex-icons;
    color: #000;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* vertical-align: middle; */
    display: block;
}

.slick-next, .slick-prev {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    padding: 0;
    background: 0 0;
    top: 50%;
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    border: none;
    opacity: 1;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}